.payment {
  margin-right: 42px;
}

.payment__title {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 25px;
  font-weight: normal;
}

.payment__coin {
  display: flex;
  align-items: center;
  background-color: var(--coin-box);
  padding: 10px 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.payment__coin__list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.payment__coin__item span {
  font-size: var(--text-label);
}

.payment__coin__remains::after {
  content: "/";
}

.payment__bet__available,
.payment__bet__warning {
  margin-bottom: 20px;
}

.payment__available__label,
.payment__available__current {
  font-size: var(--text-label);
}

.payment__available__label::after {
  content: ":";
}

.payment__bet__range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.payment__bet__icon {
  fill: var(--main-color);
  width: 20px;
  vertical-align: middle;
}

.payment__bet__warning,
.options__warning {
  font-size: var(--text-description);
}

.payment__bet__manage {
  margin-bottom: 30px;
}

.payment__bet__options {
  display: flex;
  justify-content: space-between;
}

.payment__bet__option {
  flex-basis: 100%;
}

.payment__bet__option:not(:last-child) {
  margin-right: 10px;
}

.payment__quick__icon {
  background-image: url(../../icons/quick_arrows.png);
  width: 21px;
  height: 23px;
  display: inline-block;
  background-repeat: no-repeat;
}